.onboarding-sidebar{
    width: 240px;
    height: 100vh;
    background-color: #EEF2FF;
    padding: 70px 20px 0;
    position:fixed;
    z-index: 2;
}
.onboarding-sidebar .step-header{
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-bottom: 40px;
}
.onboarding-sidebar .step-header span{
    color: var(--blue-text);
    font-weight: bold;
    font-size: 14px;
}
.onboarding-sidebar .step-header p{
    color: var(--content);
    font-size: 12px;
}
.onboarding-sidebar .onboarding-sidebar-elements{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.onboarding-sidebar .onboarding-sidebar-elements li{
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: transparent;
    color: #94A3B8;
    font-size: 16px;
    cursor: pointer;
    transition: 0.1s;
}
.onboarding-sidebar .onboarding-sidebar-elements li.active, .onboarding-sidebar .onboarding-sidebar-elements li:hover, .onboarding-sidebar .onboarding-sidebar-elements .selected-step{
    color: var(--blue-text);
    background-color: rgba(224, 231, 255, 0.5);
    border-right: 4px solid var(--blue-text);
}
#sh1{
    display: block;
}
#sh2{
    display: none;
}
@media (max-width: 900px) {

    .onboarding-sidebar {
        width: 80px;
        padding: 70px 10px 30px 10px;
    }
    .onboarding-sidebar-elements li svg {
        width: 22px;
        height: 22px;
    }
    .onboarding-sidebar .item {
        display: none;
    }
    .onboarding-sidebar .step-header {
        display: none;
    }
    #sh1 {
        display: none;
    }
    #sh2 {
        display: block;
    }
}
@media (max-width: 600px) {

    .onboarding-sidebar {
        display: none;
    }
}