@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
:root{
  --dark-purple: #424874;
  --medium-purple: #A6B1E1;
  --purple: #DCD6F7;
  --light-purple: #F4EEFF;
  --dark-text: #4A4A4A;
  --light-text: #888888;
  --big-radius: 100px;
  --radius: 24px;
  --medium-radius: 12px;
  --small-radius: 8px;
  --shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
  --medium-purple-hover: #a6b1e187;


}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
 overflow-x: hidden;
}