.hero-section{
    width: 100%;
    min-height: auto;
    padding-top: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 50px;
}
.hero-section .blurcircle{
background: rgba(112, 115, 255, 0.3);
  filter: blur(24px);
  z-index: 0;
  position: absolute;
  border-radius: 50%;
}
.hero-section .top{
height: 250px;
  width: 250px;
    right: 10%;
  top: 18%;
}
.hero-section .bottom{
    height: 160px;
  width: 160px;
    right: 40%;
  bottom: 18%;
}
.hero-section .hero-container{
    display: flex;
    justify-content: space-between;
    height: auto;
    width: auto;
}
.hero-section .hero-text-container{
    height: auto;
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.hero-section .hero-image-container{
    height: auto;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.hero-section .hero-image-container img{
    z-index: 2;
    position: relative;
    width: 460px;
    height: auto;
}
.hero-section .hero-text-container .hero-btns{
    display: flex;
    align-items: center;
    gap:6px;
    font-size: 14px;
    overflow: visible;
    margin-top: 20px;
}
.hero-section .hero-text-container .header{
    padding: 4px 10px;
    font-size: 14px;
    display: flex;
    align-items: center;
    color: var(--blue-text);
    background-color: var(--background-blue);
    display: inline;
    border-radius: 50px;
    width: 146px;
}
.gray{
    padding: 10px 20px;
    color: var(--blue-text);
    background-color: var(--background);
}
.shadow{
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 8px 10px -6px rgba(0, 0, 0, 0.1);
}
.hero-section .hero-text-container .hero-title{
    font-weight: bold;
    font-size: 56px;
    margin: 10px 0;
    color: var(--title);
}
.hero-title i{
    color: var(--blue-text);
}
.hero-content{
    color: var(--content);
}
.hero-stats{
    width: 100%;
    height: auto;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero-stats .stat{
    display: flex;
    flex-direction: column;
    gap:6px;
    justify-content: center;
}
.hero-stats .stat .number{
    color: var(--title);
    font-weight: bold;
    font-size: 24px;
}
.hero-stats .stat .nb-desc{
    font-size: 14px;
    color: var(--light-text);

}
#c1{
    display: block;
}
#c2{
    display: none;
}
#i1{
    display: block;
}
#i2{
    display: none;
}
@media (max-width:1300px) {
    .hero-section .hero-text-container{
    width: 500px;
}
.hero-section .hero-image-container{
    width: 500px;
}
.hero-section .hero-image-container img{
    width: 440px;
}
#c1{
    display: block;
}
#c2{
    display: none;
}
#i1{
    display: block;
}
#i2{
    display: none;
}
}
@media (max-width: 1100px) {
     .hero-section .hero-text-container{
    width: 400px;
}
.hero-section .hero-image-container{
    width: 400px;
}
.hero-section .hero-image-container img{
    width: 360px;
}
.hero-section .hero-text-container .hero-btns{
    margin-top: 10px;
}
.hero-section .hero-text-container .hero-title{
    font-size: 46px;
}
.hero-content{
    color: var(--content);
}
.hero-stats .stat .number{
    font-size: 18px;
}
.hero-stats .stat .nb-desc{
    font-size: 12px;
    color: var(--light-text);
}
#c1{
    display: block;
}
#c2{
    display: none;
}
#i1{
    display: block;
}
#i2{
    display: none;
}
}
@media (max-width:845px) {
    
     .hero-section .hero-text-container{
    width: 360px;
}
.hero-section .hero-image-container{
    width: 360px;
}
.hero-section .hero-image-container img{
    width: 300px;
}
.hero-section .hero-text-container .hero-btns{
    margin-top: 10px;
}
.hero-section .hero-text-container .hero-title{
    font-size: 38px;
}
.hero-content{
    color: var(--content);
    font-size: 14px;
}

.hero-stats .stat .number{
    font-size: 18px;
}
.hero-stats .stat .nb-desc{
    font-size: 10px;
    color: var(--light-text);
}
#c1{
    display: block;
}
#c2{
    display: none;
}
#i1{
    display: block;
}
#i2{
    display: none;
}
}
@media (max-width:760px) {
    
     .hero-section .hero-text-container{
    width: 340px;
}
.hero-section .hero-image-container{
    width: 340px;
}
.hero-section .hero-image-container img{
    width: 280px;
}
.hero-section .hero-text-container .hero-btns{
    margin-top: 10px;
}
.hero-section .hero-text-container .hero-title{
    font-size: 38px;
}
.hero-content{
    color: var(--content);
    font-size: 14px;
}

.hero-stats .stat .number{
    font-size: 18px;
}
.hero-stats .stat .nb-desc{
    font-size: 10px;
    color: var(--light-text);
}
#c1{
    display: block;
}
#c2{
    display: none;
}
#i1{
    display: block;
}
#i2{
    display: none;
}
}
@media (max-width:700px) {
    .hero-section .hero-container{   
    flex-direction: column;
    width: 90%;
    }
    .hero-section .blurcircle{
        display: none;
    }
    .hero-section .hero-text-container .header{
   display: none;
}
     .hero-section .hero-text-container{
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
}

.hero-section .hero-text-container .hero-btns .gray{
    display: none;
}
.hero-content{
    color: var(--content);
}
.hero-section .hero-image-container{
    width: 100%;
}
.hero-section .hero-image-container img{
    width: 100%;
}
.hero-section .hero-text-container .hero-title{
    font-size: 38px;
     text-align: center;
}
.hero-content{
    color: var(--content);
    font-size: 14px;
    text-align: center;
}
.hero-section .hero-stats{
    display: none;
}
#c1{
    display: none;
}
#c2{
    display: block;
    width: 80%;
}
#i1{
    display: none;
}
#i2{
    display: block;
}
}